@import '../../../variables';




/* -------------------------------------------------------------------------- */
/*                                  TRENDING                                  */
/* -------------------------------------------------------------------------- */
.trending-container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    margin-bottom: 40px;
    
}