@import '../../../variables';


h2 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 16px;
}

/* -------------------------------------------------------------------------- */
/*                                  TRENDING                                  */
/* -------------------------------------------------------------------------- */


.trending-container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    margin-bottom: 40px;    
}