@import '../../../variables';


.root {
    display: flex;
    overflow-x: auto;
    // gap: 20px;
}

.pages {
    width: 100%;
    margin-right: 32px;

}

@media screen and (max-width: 900px) {
   .root {
        display: initial;
   }
}


