@import '../../../variables';


/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

nav {
    // margin: 20px;
    display: flex;
    flex-direction: column;
    width: 96px;
    height: 100vh;
    color: $blue-color;
    border: 3px solid rgb(114, 207, 250);
    // padding: 20px;

}

/* -------------------------------------------------------------------------- */
/*                                   OUTLET                                   */
/* -------------------------------------------------------------------------- */
.main {
    display: flex;
    gap: 20px;
}

.pages {
    width: 100%;
    border: 3px solid salmon;

}

