@import '../../../variables';


header {
    padding: 20px;
    height: 100vh;
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 96px;
        height: 100%;
        background-color: $blue-color;
        padding: 32px 10px;
        border-radius: 20px;


        .links {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 32px;

            a {
                .icon {
                    transition: all 300ms;
                }
                &:hover .icon {
                    fill: $accent-color;

                }
                &.active .icon {
                    fill: $white
                }
            }
        }

        .login {
            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid $white;
            }
        }
    }
}


/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 900px) {
    header {
        height: 100px;
        width: 100%;
        margin-bottom: 32px;
        nav {
            width: 100%;
            flex-direction: initial;

            .links {
                flex-direction: initial;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    header {
        padding: 0px;
        height: 56px;
        nav {
            .links {
                gap: 18px;
                align-items: center;
            }
        }
    }
}



