@import '../variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $white;
  font-family: $font;
  // font-size: 32px;
}

a {
  text-decoration: none;
  color: $white;
}

button {
  all: unset;
}

ul {
  list-style: none;
}

input {
  all: unset;
}

.container {
  // margin: 64px 36px;
}